body {
  font-family: Verdana;
}

.image {
  display: block;
  margin: auto;
  position: relative;
  width: 80%;
}

h1 {
  position: absolute;
  top: 400px;
  left: 0;
  font-family: arial;
  font-size: 50px;
  color: white;
  margin: auto 0;
}

h2 {
  padding-top: 20px;
}

.recipe-block {
  width: 60%;
  position: absolute;
  left: 20%;
}

.intro {
  padding-top: 60px;
  text-align:justify;
}

.recipe-info {
  display: block;
  margin: auto;
  height: 70px;
  padding: 20px;
}

.cooking-info {
  display: block;
  margin: auto;
  height: 90px;
  padding: 20px;
}

.intro {
  font-size: 20px;
}
